# ===============================
# Visual Studio
# ===============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===============================
# Build results
# ===============================
bin/
obj/
Debug/
Release/
x64/
x86/
AnyCPU/
database/

Properties/PublishProfiles/
publish_86/
publish_external_64/
publish_fix_test/
publish_test/


# ===============================
# .NET Core
# ===============================
project.lock.json
project.fragment.lock.json
artifacts/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
Thumbs.db
ehthumbs.db
Desktop.ini

# ===============================
# Environment
# ===============================
.env
.env.local

appsettings.json

# antigravity rules
.agent/
db_maintenance.sql
db_update_micrometer.sql
*.sql
*.sqlite
*.sqlite3
*.db
*.db3
*.s3db
*.sl3
mtc_app.db
mtc_app.sqlite